.artist-details__title {
    color: #FFF;
    font-size: 52px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.artist-details__text {
    margin-bottom: 15px;
    color: #B3AA9D;
    font-size: 16px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 300;
    white-space: pre-line;
    line-height: normal;    
}

.artist-info__wrapper {
    justify-content: space-between;
    padding: 90px 40px;
}

.artist-img {
    margin-right: 60px;
    min-width: 345px;
    min-height: 433px;
}

.artist-details__title {
    margin-bottom: 40px;
}